*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height:100vh;
    background-color: rgb(35,35,48);
}
#logo{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: fill 0.5s ease forwards;
}
.container{
    position: absolute;
    top:10%;
    left:80%;
    background-color: rgb(0, 97, 252) ;
    width:35vh;
    height:13vh;
    align-items: center;
    border-radius: 10px;  
}
svg{
    width: 30vh;
    height: 20vh;
}
@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}
@keyframes fill{
    from{
        fill:transparent;
    }
    to{
        fill:rgb(91, 201, 91);
    }
}
